@page "{restaurantId}"
@model MyOdeToFood.Pages.Restaurants.DeleteModel

@{
}


<h2>Delete restaurant</h2>
<div class="alert alert-danger">Are you sur you want to delete @Model.Restaurant.Name ?</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-page="./List" class="btn btn-default">Cancel</a>
</form>
